<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
        <meta name="viewport" content="width=device-width"/>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.css}"/>
        <!-- Custom styles for this template -->
        <link href="/css/user.css" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
        <header>

            <div th:if ="${notice}" class="alert alert-box alert-dismissible fade show" role="alert">
                <span th:text="${notice}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="button-alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </header>
        <div class="container layer">
            <div class="col">
                <div class="wizard-card">
                    <nav th:replace="fragments/nav :: nav">
                        <p>default nav</p>
                    </nav>
                    <div id="content" layout:fragment="content">
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer :: footer">
                <p>default footer</p>
            </footer>
        </div>
    </body>
</html>