spring:
 profiles:
   active: local
 redis:
   host: localhost
   port: 6379
 session:
   store-type: redis
#   redis:
#     flush-mode:
#     namespace:
 jpa:
   hibernate:
     ddl-auto: create-drop
   show-sql: true
   properties:
     hibernate:
       format_sql: true
 thymeleaf:
   cache: false
   check-template: true
   check-template-location: true
   enabled: true
   encoding: UTF-8
   prefix: classpath:/templates/
   suffix: .html
 datasource:
   driver-class-name: org.h2.Driver
   url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
   username: sa
   password: sa
   initialization-mode: always
 h2:
   console:
     enabled: true
 rabbitmq:
   host: localhost
   port: 5672
   username: test
   password: test
logging:
  file: logs/dev_app.log
  pattern:
    file: "%d %-5level [%thread] %logger : %msg%n"
  level:
    org.springframework.web: INFO
    guru.springframework.controllers: INFO
    org.hibernate: INFO