<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Channels</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/popup.css"/>
    <link rel="stylesheet" href="/css/file.css"/>
    <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.js}"></script>
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    <script src="/js/channels.js"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/file.js"></script>
</head>
<body>
<div>
    <div style="margin: 20px">
        <button type="button" class="btn btn-info" id="btn-create">새 채널 시작</button>
        <button type="button" class="btn btn-dark" onclick="location.href='/logout'">로그아웃</button>
        <button type="button" class="btn btn-info" onclick="location.href='/login/google'">구글 연동하기</button>
        <button type="button" class="btn btn-secondary" id="btn-exit" onclick="exitChannel()" disabled>현재 채널 나가기</button>
    </div>
    <!-- popup start -->
    <div id="createChannel" class="pop-layer">
            <div class="text-center mb-4">
                <!--content //-->
                <div style="padding-top: 50px; padding-bottom: 50px; padding-right: 100px">
                    <!--<button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true"><h1>&times;</h1></span>-->
                    <!--</button>-->
                </div>
                <div style="width: 70%; display: inline-block;">
                    <h2 class="h2 mb-3 font-weight-normal">새로운 채널 시작</h2>
                </div>
                <hr>
                <div style="width: 40%; display: inline-block;">
                    <form id="creatForm">
                        <div class="form-label-group" style="padding-bottom: 20px">
                            <label for="name" style="float: left"><b>채널 이름</b></label>
                            <input type="text" id="name" name="name" class="form-control form-control-lg" required autofocus>
                        </div>
                        <div class="form-label-group" style="padding-bottom: 20px">
                            <label for="purpose" style="float: left"><b>목적</b> (선택)</label>
                            <input type="text" id="purpose" name="purpose" class="form-control form-control-lg">
                        </div>
                        <div class="form-label-group" style="padding-bottom: 20px">
                            <label for="invite" style="float: left"><b>초대하기</b> (선택)</label>
                            <input type="text" id="invite" name="invite" class="form-control form-control-lg">
                        </div>
                        <div style="padding-top: 20px">
                            <button type="button" class="btn btn-success btn-lg btn-start" onclick="createChannel()" disabled>시작하기</button>
                            <button type="button" class="btn btn-light btn-lg btn-close">취소</button>
                        </div>
                    </form>
                </div>
                <!--// content-->
            </div>
    </div>
    <!-- popup end -->
    <hr>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="row">
                    <div class="col-2" id="channelList">
                        <div th:if="${not #lists.isEmpty(list)}" th:each="channel : ${list}">
                            <a href="javascript:void(0);" class="btn btn-light btn-block" th:attrappend="id=${channel.getId()}" onclick="switchChannel(this.id)" style="text-align:left;">
                                <span th:text="${channel.name}"></span><span style="float: right" class="badge badge-pill badge-danger unread"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div id="1">
                            <div>
                                <div>
                                    <textarea cols="100" rows="25" id="msgArea" readonly></textarea>
                                    <div id="fileUpload" class="dragAndDropDiv">Drag & Drop Files Here</div>
                                </div>
                                <div>
                                    <small><span id="typingAlarm"></span></small>
                                </div>
                                <div>
                                    <input type="text" size="90" id="chatInput" />
                                    <button type="button" class="btn btn-dark btn-sm" onclick="sendMsg(current)">전송</button>
                                    <button type="button" class="btn btn-dark btn-sm" onclick="downFile(current)">다운로드</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>