<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<div th:if="${param.success}">
    <span>비밀번호가 변경되었습니다.</span>
</div>
<form method="post" th:action="@{/users/password/change}" th:object="${form}">
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name ="password" th:field="*{password}">
    </div>
    <div>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirmPassword">
    </div>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
    </div>
    <button type="submit">변경하기</button>
</form>
</body>
</html>