<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/nav-layout">

<body>
<div layout:fragment="content" class="content">
    <form method="post" th:action="@{/users/password}" th:object="${passwordForm}">
        <div class="offset-2 margin-top-16">
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">새 비밀번호</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" th:field="*{password}">
                </div>
            </div>
            <div class="form-group row">
                <label for="re-password" class="col-sm-2 col-form-label">비밀번호 확인</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="re-password" th:field="*{confirmPassword}">
                    <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"/>
                </div>
            </div>
            <input type="submit" class="btn btn-fill btn-dark col-md-3 btn-account" value="수정하기">
        </div>
    </form>
</div>
</body>
</html>
