<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
<h1>비밀번호 찾기</h1>
<div th:if="${error}">
    <span th:text="${error}"></span>
</div>
<form method="post" th:action="@{/identity/password/forgot}" th:object="${form}">
    <div>
        <label for="email">email</label>
        <input type="email" id="email" name="email" size="20" th:field="*{email}">
        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
    </div>
    <button type="submit">비밀번호 찾기.</button>
</form>
</body>
</html>