<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<body>
<div class="plane-content" layout:fragment="content">
    <form method="post" th:action="@{/identity/password/forgot}" th:object="${emailForm}">
        <ul class="find-password-notice">
            <li>비밀번호의 경우 <strong>암호화</strong> 저장되어 분실 시 찾아드릴 수 없는 정보 입니다.</li>
            <li><strong>이메일 확인</strong>을 통해 비밀번호를 재설정 하실 수 있습니다.</li>
            <li>Toktalk에 가입된 계정 이메일을 정확히 기입해주시길 바랍니다.</li>
        </ul>
        <div class="form-send">
            <div class="form-group row">
                <label for="email" class="col-form-label">이메일</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" th:field="*{email}">
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
            </div>
            <input type="submit" class="btn btn-fill btn-dark col-md-6 btn-send" onclick="progressBar()" value="이메일 보내기">
        </div>
    </form>
</div>
</body>
</html>
