<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>

</head>
<body>
<div>
    <h3>로그인</h3>
    <div th:if="${param.resetSuccess}">
        <span>비밀번호 변경이 완료 되었습니다. 다시 로그인 해주세요.</span>
    </div>
    <form method="post" th:action="@{/users/login}" action="#">
        <label for="email">email</label>
        <input type="text" id="email" name="email" size="20">
        <label for="password">password</label>
        <input type="password" id="password" name="password" size="20">
        <button type="submit">로그인</button>

        <p>
            <label for="remember-me">Remember-me</label>
            <input type="checkbox" id="remember-me" name="remember-me" size="20">
        </p>

    </form>

    <div class="container unauthenticated">
        <div>
            With Google: <a href="/login/google">click here</a>
        </div>
    </div>
</div>
</body>
</html>