<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>

</head>
<body>
<div th:if="${error}">
    <span th:text="${error}"></span>
</div>

<form method="post" th:action="@{/identity/password/reset}" th:object="${resetForm}">
    <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" th:field="*{password}">
    </div>
    <div>
        <label for="confirm-password">confirm password</label>
        <input type="password" id="confirm-password" name="confirmPassword">
    </div>
    <input type="hidden" name="token" th:value="${token}"/>
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
    </div>
    <button type="submit">변경하기</button>
</form>
</body>
</html>