<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<body>
<div class="plane-content" layout:fragment="content">
    <form method="post" th:action="@{/identity/password/reset}" th:object="${resetForm}">
        <div class="col pt-5">
            <div class="col ml-5 pl-4">
                <div>
                    <label for="password" class="col-form-label">새 비밀번호</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" th:field="*{password}">
                    </div>
                    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>

                </div>
                <div>
                    <label for="confirm-password" class="col-form-label">새 비밀번호 확인</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="confirm-password" name="confirmPassword">
                    </div>
                </div>
                <input type="hidden" name="token" th:value="${token}"/>
            </div>
            <div class="row-2 text-center">
                <input type="submit" class="btn btn-fill btn-dark col-md-4 mt-4 mr-2" onclick="
                   location.href='/login'" value="변경하기">
            </div>
        </div>
    </form>
</div>
</body>
</html>
