<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<body>
<div layout:fragment="content" class=" container content">

    <div class="social-box col-md-8">
        <div class="social-card m-3 border">
            <div class="float-left social-icon-google">
                <i class="fa fa-google-plus"></i>
            </div>
            <div class="float-right">
                <input type="button" href="#" class="btn social-btn-margin" id="google">
            </div>
        </div>

        <div class="social-card m-3 border">
            <div class="float-left social-icon">
                <i class="fa fa-facebook"></i>
            </div>
            <div class="float-right">
                <input type="button" href="#" class="btn social-btn-non social-btn-margin disabled" value="제공예정">
            </div>
        </div>

        <div class="social-card m-3 border">
            <div class="float-left social-icon">
                <i class="fa fa-github"></i>
            </div>
            <div class="float-right">
                <input type="button" href="#" class="btn social-btn-non social-btn-margin disabled" value="제공예정">
            </div>
        </div>


        <div class="social-card m-3 border">
            <div class="float-left social-icon">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="float-right">
                <input type="button" href="#" class="btn social-btn-non social-btn-margin disabled" value="제공예정">
            </div>
        </div>

    </div>
</div>
</body>
</html>

