body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #004B8D;
    overflow: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(190, 170, 175);
    display: block;
}

.sidebar a:hover {
    background-color: rgb(83, 38, 49);
}

.sidebar a:active {
    color: #f1f1f1;
    background-color: #5dae8b;
}

.list {
    padding-bottom: 25px;
}

.header {
    overflow: hidden;
    margin-left: 220px;
    padding: 10px 25px;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
}

.footer {
    overflow: hidden;
    margin-left: 220px;
    padding: 0px 10px;
    height: 80px;
    position: absolute;
    width: calc(100vh);
    bottom: 0;
}

.chat-area {
    margin-left: 220px;
    margin-top: 55px;
    height: calc(100vh - 135px);
    overflow: auto;
}

.chat-content {
    padding: 4px 15px 4px;
}

.chat-content:hover {
    background-color: #f5f5f5;
}

.chat-content:hover .time {
    color: rgb(104, 104, 104);
}

.time {
    color: white;
    font-size: 12px;
    margin-right: 10px;
}

.message-area {
    margin-left: 220px;
    position: absolute;
    bottom: 24px;
    width: calc(100vw - 220px);

}

.message-box {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 2px solid darkgray;
}

.inputbox {
    margin: 3px;
    padding: 7px 5px 7px 5px;
    font-size: 15px;
    width: 80%;
    border: 0px;
}

input:focus {
    outline: none;
}

.footer {
    overflow: hidden;
    margin-left: 220px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    height: 24px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: rgb(153, 153, 153);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}